$primary-header-color: hsl(13, 100%, 72%);
$primary-white: hsl(100, 100%, 100%);
$primary-gray: gray;
$primary-black: hsl(240, 10%, 16%);
$primary-white-hover: rgba(255, 255, 255, 0.384);
$primary-btn-color: hsl(353, 100%, 62%);
$fontSize: (
  "verySmall": 10px,
  "small": 15px,
  "normal": 17px,
  "big": 20px,
  "logoSize": 24px,
  "huge": 35px,
  "special": 1.5rem,
);
$fontWeight: (
  "light": 400,
  "bold": 700,
);
@function fontSize($font-name) {
  @return map-get($fontSize, $font-name);
}
@function fontWeight($weight-name) {
  @return map-get($fontWeight, $weight-name);
}
@mixin widthHeight($data1, $data2) {
  width: $data1;
  height: $data2;
}
@mixin displayFlex($flexDirection, $alignments, $alignments2) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $alignments;
  align-items: $alignments2;
}
@mixin positionPlace($top, $left, $width, $height) {
  visibility: hidden;
  position: absolute;
  left: $left;
  top: $top;
  width: $width;
  height: $height;
  padding: 30px;
  z-index: 4;
  @include displayFlex(column, space-evenly, flex-start);
  color: $primary-gray;
  background-color: $primary-white;
  cursor: pointer;
}
/*media content*/
@mixin mobileDesgin {
  @media (max-width: 710px) {
    @content;
  }
}
@mixin mobileDesignSpe {
  @media (max-width: 1050px) {
    @content;
  }
}
@mixin mobileDesginTwo {
  @media (max-width: 280px) {
    @content;
  }
}
/*media content*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  height: 0px;
}
html {
  height: 0px;
}
/*menu for mobile*/
main {
  position: absolute;
  @include widthHeight(100%, 600px);
  @include displayFlex(row, center, center);
  .menu_mobile {
    display: none;
    @include mobileDesgin {
      display: block;
    }
    @include widthHeight(60%, 400px);
    background-color: $primary-white;
    z-index: 33333333333;
    .menu_mobile_one,
    .menu_mobile_two,
    .menu_mobile_three {
      text-align: center;
      @include displayFlex(column, center, center);
      &_text {
        cursor: pointer;
        padding: 10px 0px;
        position: relative;
        i {
          font-size: fontSize(verySmall);
          position: absolute;
          cursor: pointer;
          color: $primary-btn-color;
        }
        #mb_icon_one {
          right: -26%;
          top: 45%;
        }
        #mb_icon_two {
          right: -20%;
          top: 43%;
        }
        #mb_icon_three {
          right: -30%;
          top: 43%;
        }
      }
      .menu_mobile_one_options,
      .menu_mobile_two_options,
      .menu_mobile_three_options {
        @include widthHeight(80%, auto);
        background-color: $primary-gray;
        // display: none;
        .option {
          padding: 5px 0px;
          cursor: pointer;
        }
      }
    }
  }
}
/*menu for mobile*/
/*header section*/
header {
  background-color: $primary-header-color;
  @include widthHeight(100%, 600px);
  @include mobileDesgin {
    @include widthHeight(100%, 700px);
  }
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 50px;
}
.header_section {
  @include displayFlex(row, center, flex-start);
}
.header_section img {
  position: absolute;
  bottom: -1365px;
  right: -1224px;
  transform: scale(1);
  /*mobile design for background img in header*/
  @include mobileDesgin {
    bottom: -1365px;
    transform: scale(0.6);
    right: -1600px;
  }
  /*mobile design for background img in header*/
  z-index: 1;
}
.header_menu_section {
  @include widthHeight(80%, 100px);
  z-index: 2;
  @include displayFlex(row, space-between, center);
  padding: 0px 20px;
  .menu_one {
    @include displayFlex(row, space-between, center);
    .logo_name {
      font-size: fontSize(logoSize);
      padding-right: 20px;
      color: $primary-white;
    }
    .menu_section {
      position: relative;
      @include displayFlex(row, center, center);
      &_link_one {
        /*mobile design for nav menus*/
        @include mobileDesgin {
          display: none;
        }
        /*mobile design for nav menus*/
        padding-right: 40px;
        z-index: 3;
        color: $primary-white;
        position: relative;
        i {
          position: absolute;
          left: 64%;
          top: 6px;
          font-size: fontSize(verySmall);
        }
      }
      &_link_one:hover {
        cursor: pointer;
      }
      .one {
        @include positionPlace(30px, -40px, 130px, 150px);
        .menu_one,
        .menu_two,
        .menu_three {
          font-size: fontSize(small);
        }
        .menu_one:hover,
        .menu_two:hover,
        .menu_three:hover {
          color: $primary-black;
        }
      }
      .two {
        @include positionPlace(30px, -40px, 170px, 180px);
        .menu_one,
        .menu_two,
        .menu_three {
          font-size: fontSize(small);
        }
        .menu_one:hover,
        .menu_two:hover,
        .menu_three:hover {
          color: $primary-black;
        }
      }
      .three {
        @include positionPlace(30px, -40px, 130px, 180px);
        .menu_one,
        .menu_two,
        .menu_three {
          font-size: fontSize(small);
        }
        .menu_one:hover,
        .menu_two:hover,
        .menu_three:hover {
          color: $primary-black;
        }
      }
    }
  }
  .menu_two {
    /*mobile design for nav menus*/
    @include mobileDesgin {
      display: none;
    }
    /*mobile design for nav menus*/
    &_login {
      color: $primary-white;
    }
    &_sign {
      margin-left: 10px;
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: $primary-white;
      color: $primary-btn-color;
      border-radius: 50px;
      cursor: pointer;
      font-weight: fontWeight(bold);
    }
    &_sign:hover {
      color: $primary-white;
      background-color: $primary-white-hover;
    }
  }
  .menu_bar_icon {
    display: none;
    cursor: pointer;
    @include mobileDesgin {
      display: block;
    }
  }
}
.middle_section {
  margin-top: 200px;
  @include widthHeight(100%, auto);
  @include displayFlex(column, center, center);
  z-index: 3;
  position: absolute;
  &_one {
    font-size: fontSize(huge);
    word-spacing: 10px;
    color: $primary-white;
    margin-bottom: 50px;
    text-align: center;
  }
  &_two {
    font-size: fontSize(small);
    color: $primary-white;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
  &_btn {
    @include displayFlex(row, center, center);
    @include mobileDesginTwo {
      flex-direction: column;
    }
    .one {
      @include widthHeight(130px, 40px);
      @include mobileDesginTwo {
        margin-bottom: 30px;
      }
      background-color: $primary-white;
      color: $primary-header-color;
      border: none;
      outline: none;
      cursor: pointer;
      font-weight: fontWeight(bold);
      border-radius: 50px;
      margin-right: 20px;
      &:hover {
        background-color: $primary-white-hover;
        color: $primary-white;
      }
    }
    .two {
      @include widthHeight(130px, 40px);
      background-color: transparent;
      color: $primary-white;
      border: 1px solid $primary-white;
      outline: none;
      cursor: pointer;
      font-weight: fontWeight(bold);
      border-radius: 50px;
      &:hover {
        background-color: $primary-white;
        color: $primary-btn-color;
      }
    }
  }
}
/*header section*/
/*design section*/
.design_section {
  @include widthHeight(100%, auto);
  &_header {
    @include widthHeight(100%, 200px);
    text-align: center;
    @include displayFlex(row, center, center);
    font-size: fontSize(special);
    font-weight: fontWeight(bold);
  }
  .design_divide {
    @include displayFlex(row, space-evenly, center);
    /*mobile design for design section*/
    @include mobileDesgin {
      flex-direction: column-reverse;
    }
    /*mobile design for design section*/
    &_one {
      @include widthHeight(50%, auto);
      padding-left: 40px;
      @include mobileDesgin {
        padding: 10px 30px;
        @include widthHeight(100%, auto);
        text-align: center;
        margin-top: 80%;
      }
      .text_one {
        &_header {
          @include widthHeight(100%, 60px);
          font-size: fontSize(logoSize);
          margin-bottom: 20px;
        }
        &_desc {
          @include widthHeight(80%, auto);
          text-align: justify;
          @include mobileDesgin {
            @include widthHeight(100%, auto);
            text-align: center;
          }
          color: $primary-gray;
          margin-bottom: 30px;
        }
      }
      .text_two {
        &_header {
          @include widthHeight(100%, 60px);
          font-size: fontSize(logoSize);
        }
        &_desc {
          @include widthHeight(80%, auto);
          text-align: justify;
          @include mobileDesgin {
            @include widthHeight(100%, auto);
            text-align: center;
          }
          color: $primary-gray;
          margin-bottom: 30px;
        }
      }
    }
    &_two {
      @include widthHeight(50%, auto);
      position: relative;
      .img_editor_desktop {
        display: block;
        @include mobileDesgin {
          display: none;
        }
        @include widthHeight(100%, auto);
        position: absolute;
        top: -335px;
      }
      .img_editor_mobile {
        display: none;
        @include mobileDesgin {
          display: block;
          @include widthHeight(200%, auto);
        }
        position: absolute;
        top: -50px;
        width: 400px;
        left: -50%;
      }
    }
  }
}
/*design section*/
/*mobile_section*/
.mobile_section {
  margin-top: 400px;
  @include widthHeight(100%, 400px);
  @include mobileDesignSpe {
    margin-top: 130px;
    height: 600px;
  }
  background-color: hsl(237, 17%, 21%);
  border-radius: 0px 50px 0px 50px;
  @include mobileDesignSpe {
    border-radius: 0px 80px 0px 80px;
  }
  position: relative;
  .background_section {
    position: relative;
    overflow: hidden;
    @include widthHeight(inherit, inherit);
    @include mobileDesignSpe {
      @include displayFlex(column, center, center);
    }
    .img_one {
      overflow: hidden;
      position: absolute;
      top: -610px;
      left: -235px;
      @include mobileDesgin {
        left: -417px;
        top: -470px;
        transform: scale(0.5);
      }
    }
    .background_text {
      @include widthHeight(50%, inherit);
      @include displayFlex(column, center, center);
      padding-right: 100px;
      padding-bottom: 100px;
      z-index: 1;
      float: right;
      @include mobileDesignSpe {
        float: none;
        padding-right: 0px;
        @include widthHeight(100%, 600px);
        justify-content: flex-end;
        align-items: flex-end;
      }
      .header {
        @include widthHeight(100%, auto);
        color: $primary-white;
        font-size: fontSize(huge);
        font-weight: fontWeight(bold);
        margin-bottom: 30px;
      }
      .desc {
        color: $primary-gray;
      }
      @include mobileDesignSpe {
        .header,
        .desc {
          text-align: center;
        }
      }
    }
  }
  .img_two {
    @include widthHeight(40%, auto);
    position: absolute;
    top: -80px;
    @include mobileDesgin {
      @include widthHeight(80%, auto);
      top: -138px;
    }
  }
}
/*mobile_section*/
/*laptop and prons section*/
.laptop_prons_section {
  margin-top: 100px;
  position: relative;
  &_desc {
    margin-top: 200px;
    @include widthHeight(40%, auto);
    float: right;
    .header {
      font-size: fontSize(logoSize);
      height: 60px;
    }
    .desc {
      font-size: fontSize(small);
      height: 100px;
      @include widthHeight(70%, auto);
      text-align: justify;
      margin-bottom: 20px;
      color: $primary-gray;
    }
  }
  .laptop_img {
    display: block;
    @include mobileDesgin {
      display: none;
    }
    position: absolute;
    top: 26px;
    left: -133px;
    @include widthHeight(50%, 600px);
  }
  .laptop_img_mobile {
    display: none;
  }
  @include mobileDesgin {
    .laptop_img_mobile {
      display: block;
      max-width: 100%;
    }
    .laptop_prons_section_desc {
      margin-top: 50px;
      @include widthHeight(100%, auto);
      text-align: center;
      .desc {
        text-align: center;
        @include widthHeight(100%, auto);
      }
    }
  }
}
/*laptop and prons section*/
/*footer*/
footer {
  margin-top: 800px;
  @include widthHeight(100%, 350px);
  background-color: $primary-black;
  @include displayFlex(row, center, center);
  .footer_section {
    @include widthHeight(80%, inherit);
    @include displayFlex(row, space-evenly, flex-start);
    padding-top: 50px;
    &_one {
      @include widthHeight(100%, auto);
      color: $primary-white;
      font-size: fontSize(logoSize);
      font-weight: fontWeight(bold);
    }
    &_two,
    &_three,
    &_four {
      @include displayFlex(column, flex-start, center);
      @include widthHeight(100%, 80%);
      * {
        padding-bottom: 20px;
      }
      .name {
        padding-top: 5px;
        color: $primary-white;
        font-size: fontSize(normal);
        font-weight: fontWeight(light);
      }
      .name_link {
        color: $primary-gray;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  @include mobileDesgin {
    margin-top: 75%;
    height: 1000px;
    .footer_section {
      height: 1000px;
      flex-direction: column;
      &_one {
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
}
/*footer*/
