/*media content*/
/*media content*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 0px;
}

html {
  height: 0px;
}

/*menu for mobile*/
main {
  position: absolute;
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .menu_mobile {
  display: none;
  width: 60%;
  height: 400px;
  background-color: white;
  z-index: 33333333333;
}

main .menu_mobile .menu_mobile_one,
main .menu_mobile .menu_mobile_two,
main .menu_mobile .menu_mobile_three {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .menu_mobile .menu_mobile_one_text,
main .menu_mobile .menu_mobile_two_text,
main .menu_mobile .menu_mobile_three_text {
  cursor: pointer;
  padding: 10px 0px;
  position: relative;
}

main .menu_mobile .menu_mobile_one_text i,
main .menu_mobile .menu_mobile_two_text i,
main .menu_mobile .menu_mobile_three_text i {
  font-size: 10px;
  position: absolute;
  cursor: pointer;
  color: #ff3d54;
}

main .menu_mobile .menu_mobile_one_text #mb_icon_one,
main .menu_mobile .menu_mobile_two_text #mb_icon_one,
main .menu_mobile .menu_mobile_three_text #mb_icon_one {
  right: -26%;
  top: 45%;
}

main .menu_mobile .menu_mobile_one_text #mb_icon_two,
main .menu_mobile .menu_mobile_two_text #mb_icon_two,
main .menu_mobile .menu_mobile_three_text #mb_icon_two {
  right: -20%;
  top: 43%;
}

main .menu_mobile .menu_mobile_one_text #mb_icon_three,
main .menu_mobile .menu_mobile_two_text #mb_icon_three,
main .menu_mobile .menu_mobile_three_text #mb_icon_three {
  right: -30%;
  top: 43%;
}

main .menu_mobile .menu_mobile_one .menu_mobile_one_options,
main .menu_mobile .menu_mobile_one .menu_mobile_two_options,
main .menu_mobile .menu_mobile_one .menu_mobile_three_options,
main .menu_mobile .menu_mobile_two .menu_mobile_one_options,
main .menu_mobile .menu_mobile_two .menu_mobile_two_options,
main .menu_mobile .menu_mobile_two .menu_mobile_three_options,
main .menu_mobile .menu_mobile_three .menu_mobile_one_options,
main .menu_mobile .menu_mobile_three .menu_mobile_two_options,
main .menu_mobile .menu_mobile_three .menu_mobile_three_options {
  width: 80%;
  height: auto;
  background-color: gray;
  display: none;
}

main .menu_mobile .menu_mobile_one .menu_mobile_one_options .option,
main .menu_mobile .menu_mobile_one .menu_mobile_two_options .option,
main .menu_mobile .menu_mobile_one .menu_mobile_three_options .option,
main .menu_mobile .menu_mobile_two .menu_mobile_one_options .option,
main .menu_mobile .menu_mobile_two .menu_mobile_two_options .option,
main .menu_mobile .menu_mobile_two .menu_mobile_three_options .option,
main .menu_mobile .menu_mobile_three .menu_mobile_one_options .option,
main .menu_mobile .menu_mobile_three .menu_mobile_two_options .option,
main .menu_mobile .menu_mobile_three .menu_mobile_three_options .option {
  padding: 5px 0px;
  cursor: pointer;
}

/*menu for mobile*/
/*header section*/
header {
  background-color: #ff8f70;
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 50px;
}

@media (max-width: 710px) {
  header {
    width: 100%;
    height: 700px;
  }
}

.header_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header_section img {
  position: absolute;
  bottom: -1365px;
  right: -1224px;
  -webkit-transform: scale(1);
          transform: scale(1);
  /*mobile design for background img in header*/
  /*mobile design for background img in header*/
  z-index: 1;
}

@media (max-width: 710px) {
  .header_section img {
    bottom: -1365px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    right: -1600px;
  }
}

.header_menu_section {
  width: 80%;
  height: 100px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.header_menu_section .menu_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_menu_section .menu_one .logo_name {
  font-size: 24px;
  padding-right: 20px;
  color: white;
}

.header_menu_section .menu_one .menu_section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_menu_section .menu_one .menu_section_link_one {
  /*mobile design for nav menus*/
  /*mobile design for nav menus*/
  padding-right: 40px;
  z-index: 3;
  color: white;
  position: relative;
}

@media (max-width: 710px) {
  .header_menu_section .menu_one .menu_section_link_one {
    display: none;
  }
}

.header_menu_section .menu_one .menu_section_link_one i {
  position: absolute;
  left: 64%;
  top: 6px;
  font-size: 10px;
}

.header_menu_section .menu_one .menu_section_link_one:hover {
  cursor: pointer;
}

.header_menu_section .menu_one .menu_section .one {
  visibility: hidden;
  position: absolute;
  left: -40px;
  top: 30px;
  width: 130px;
  height: 150px;
  padding: 30px;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: gray;
  background-color: white;
  cursor: pointer;
}

.header_menu_section .menu_one .menu_section .one .menu_one,
.header_menu_section .menu_one .menu_section .one .menu_two,
.header_menu_section .menu_one .menu_section .one .menu_three {
  font-size: 15px;
}

.header_menu_section .menu_one .menu_section .one .menu_one:hover,
.header_menu_section .menu_one .menu_section .one .menu_two:hover,
.header_menu_section .menu_one .menu_section .one .menu_three:hover {
  color: #25252d;
}

.header_menu_section .menu_one .menu_section .two {
  visibility: hidden;
  position: absolute;
  left: -40px;
  top: 30px;
  width: 170px;
  height: 180px;
  padding: 30px;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: gray;
  background-color: white;
  cursor: pointer;
}

.header_menu_section .menu_one .menu_section .two .menu_one,
.header_menu_section .menu_one .menu_section .two .menu_two,
.header_menu_section .menu_one .menu_section .two .menu_three {
  font-size: 15px;
}

.header_menu_section .menu_one .menu_section .two .menu_one:hover,
.header_menu_section .menu_one .menu_section .two .menu_two:hover,
.header_menu_section .menu_one .menu_section .two .menu_three:hover {
  color: #25252d;
}

.header_menu_section .menu_one .menu_section .three {
  visibility: hidden;
  position: absolute;
  left: -40px;
  top: 30px;
  width: 130px;
  height: 180px;
  padding: 30px;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: gray;
  background-color: white;
  cursor: pointer;
}

.header_menu_section .menu_one .menu_section .three .menu_one,
.header_menu_section .menu_one .menu_section .three .menu_two,
.header_menu_section .menu_one .menu_section .three .menu_three {
  font-size: 15px;
}

.header_menu_section .menu_one .menu_section .three .menu_one:hover,
.header_menu_section .menu_one .menu_section .three .menu_two:hover,
.header_menu_section .menu_one .menu_section .three .menu_three:hover {
  color: #25252d;
}

.header_menu_section .menu_two {
  /*mobile design for nav menus*/
  /*mobile design for nav menus*/
}

@media (max-width: 710px) {
  .header_menu_section .menu_two {
    display: none;
  }
}

.header_menu_section .menu_two_login {
  color: white;
}

.header_menu_section .menu_two_sign {
  margin-left: 10px;
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background-color: white;
  color: #ff3d54;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
}

.header_menu_section .menu_two_sign:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.384);
}

.header_menu_section .menu_bar_icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 710px) {
  .header_menu_section .menu_bar_icon {
    display: block;
  }
}

.middle_section {
  margin-top: 200px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  position: absolute;
}

.middle_section_one {
  font-size: 35px;
  word-spacing: 10px;
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

.middle_section_two {
  font-size: 15px;
  color: white;
  height: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.middle_section_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 280px) {
  .middle_section_btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.middle_section_btn .one {
  width: 130px;
  height: 40px;
  background-color: white;
  color: #ff8f70;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 50px;
  margin-right: 20px;
}

@media (max-width: 280px) {
  .middle_section_btn .one {
    margin-bottom: 30px;
  }
}

.middle_section_btn .one:hover {
  background-color: rgba(255, 255, 255, 0.384);
  color: white;
}

.middle_section_btn .two {
  width: 130px;
  height: 40px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 50px;
}

.middle_section_btn .two:hover {
  background-color: white;
  color: #ff3d54;
}

/*header section*/
/*design section*/
.design_section {
  width: 100%;
  height: auto;
}

.design_section_header {
  width: 100%;
  height: 200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.design_section .design_divide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*mobile design for design section*/
  /*mobile design for design section*/
}

@media (max-width: 710px) {
  .design_section .design_divide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.design_section .design_divide_one {
  width: 50%;
  height: auto;
  padding-left: 40px;
}

@media (max-width: 710px) {
  .design_section .design_divide_one {
    padding: 10px 30px;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 80%;
  }
}

.design_section .design_divide_one .text_one_header {
  width: 100%;
  height: 60px;
  font-size: 24px;
  margin-bottom: 20px;
}

.design_section .design_divide_one .text_one_desc {
  width: 80%;
  height: auto;
  text-align: justify;
  color: gray;
  margin-bottom: 30px;
}

@media (max-width: 710px) {
  .design_section .design_divide_one .text_one_desc {
    width: 100%;
    height: auto;
    text-align: center;
  }
}

.design_section .design_divide_one .text_two_header {
  width: 100%;
  height: 60px;
  font-size: 24px;
}

.design_section .design_divide_one .text_two_desc {
  width: 80%;
  height: auto;
  text-align: justify;
  color: gray;
  margin-bottom: 30px;
}

@media (max-width: 710px) {
  .design_section .design_divide_one .text_two_desc {
    width: 100%;
    height: auto;
    text-align: center;
  }
}

.design_section .design_divide_two {
  width: 50%;
  height: auto;
  position: relative;
}

.design_section .design_divide_two .img_editor_desktop {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: -335px;
}

@media (max-width: 710px) {
  .design_section .design_divide_two .img_editor_desktop {
    display: none;
  }
}

.design_section .design_divide_two .img_editor_mobile {
  display: none;
  position: absolute;
  top: -50px;
  width: 400px;
  left: -50%;
}

@media (max-width: 710px) {
  .design_section .design_divide_two .img_editor_mobile {
    display: block;
    width: 200%;
    height: auto;
  }
}

/*design section*/
/*mobile_section*/
.mobile_section {
  margin-top: 400px;
  width: 100%;
  height: 400px;
  background-color: #2c2d3f;
  border-radius: 0px 50px 0px 50px;
  position: relative;
}

@media (max-width: 1050px) {
  .mobile_section {
    margin-top: 130px;
    height: 600px;
  }
}

@media (max-width: 1050px) {
  .mobile_section {
    border-radius: 0px 80px 0px 80px;
  }
}

.mobile_section .background_section {
  position: relative;
  overflow: hidden;
  width: inherit;
  height: inherit;
}

@media (max-width: 1050px) {
  .mobile_section .background_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mobile_section .background_section .img_one {
  overflow: hidden;
  position: absolute;
  top: -610px;
  left: -235px;
}

@media (max-width: 710px) {
  .mobile_section .background_section .img_one {
    left: -417px;
    top: -470px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.mobile_section .background_section .background_text {
  width: 50%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 100px;
  padding-bottom: 100px;
  z-index: 1;
  float: right;
}

@media (max-width: 1050px) {
  .mobile_section .background_section .background_text {
    float: none;
    padding-right: 0px;
    width: 100%;
    height: 600px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.mobile_section .background_section .background_text .header {
  width: 100%;
  height: auto;
  color: white;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
}

.mobile_section .background_section .background_text .desc {
  color: gray;
}

@media (max-width: 1050px) {
  .mobile_section .background_section .background_text .header,
  .mobile_section .background_section .background_text .desc {
    text-align: center;
  }
}

.mobile_section .img_two {
  width: 40%;
  height: auto;
  position: absolute;
  top: -80px;
}

@media (max-width: 710px) {
  .mobile_section .img_two {
    width: 80%;
    height: auto;
    top: -138px;
  }
}

/*mobile_section*/
/*laptop and prons section*/
.laptop_prons_section {
  margin-top: 100px;
  position: relative;
}

.laptop_prons_section_desc {
  margin-top: 200px;
  width: 40%;
  height: auto;
  float: right;
}

.laptop_prons_section_desc .header {
  font-size: 24px;
  height: 60px;
}

.laptop_prons_section_desc .desc {
  font-size: 15px;
  height: 100px;
  width: 70%;
  height: auto;
  text-align: justify;
  margin-bottom: 20px;
  color: gray;
}

.laptop_prons_section .laptop_img {
  display: block;
  position: absolute;
  top: 26px;
  left: -133px;
  width: 50%;
  height: 600px;
}

@media (max-width: 710px) {
  .laptop_prons_section .laptop_img {
    display: none;
  }
}

.laptop_prons_section .laptop_img_mobile {
  display: none;
}

@media (max-width: 710px) {
  .laptop_prons_section .laptop_img_mobile {
    display: block;
    max-width: 100%;
  }
  .laptop_prons_section .laptop_prons_section_desc {
    margin-top: 50px;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .laptop_prons_section .laptop_prons_section_desc .desc {
    text-align: center;
    width: 100%;
    height: auto;
  }
}

/*laptop and prons section*/
/*footer*/
footer {
  margin-top: 800px;
  width: 100%;
  height: 350px;
  background-color: #25252d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_section {
  width: 80%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
}

footer .footer_section_one {
  width: 100%;
  height: auto;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

footer .footer_section_two, footer .footer_section_three, footer .footer_section_four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80%;
}

footer .footer_section_two *, footer .footer_section_three *, footer .footer_section_four * {
  padding-bottom: 20px;
}

footer .footer_section_two .name, footer .footer_section_three .name, footer .footer_section_four .name {
  padding-top: 5px;
  color: white;
  font-size: 17px;
  font-weight: 400;
}

footer .footer_section_two .name_link, footer .footer_section_three .name_link, footer .footer_section_four .name_link {
  color: gray;
}

footer .footer_section_two .name_link:hover, footer .footer_section_three .name_link:hover, footer .footer_section_four .name_link:hover {
  text-decoration: underline;
}

@media (max-width: 710px) {
  footer {
    margin-top: 75%;
    height: 1000px;
  }
  footer .footer_section {
    height: 1000px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_section_one {
    text-align: center;
    margin-bottom: 40px;
  }
}

/*footer*/
/*# sourceMappingURL=blogr-style.css.map */