$primary-header-color: hsl(13, 100%, 72%);
$primary-white: hsl(100, 100%, 100%);
$primary-gray: gray;
$primary-black: hsl(240, 10%, 16%);
$primary-white-hover: rgba(255, 255, 255, 0.384);
$primary-btn-color: hsl(353, 100%, 62%);
$fontSize: (
  "verySmall": 10px,
  "small": 15px,
  "normal": 17px,
  "big": 20px,
  "logoSize": 24px,
  "huge": 35px,
);
$fontWeight: (
  "light": 400,
  "bold": 700,
);
@function fontSize($font-name) {
  @return map-get($fontSize, $font-name);
}
@function fontWeight($weight-name) {
  @return map-get($fontWeight, $weight-name);
}
@mixin widthHeight($data1, $data2) {
  width: $data1;
  height: $data2;
}
@mixin displayFlex($flexDirection, $alignments, $alignments2) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $alignments;
  align-items: $alignments2;
}
@mixin positionPlace($top, $left, $width, $height) {
  visibility: hidden;
  position: absolute;
  left: $left;
  top: $top;
  width: $width;
  height: $height;
  padding: 30px;
  z-index: 4;
  @include displayFlex(column, space-evenly, flex-start);
  color: $primary-gray;
  background-color: $primary-white;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/*header section*/
header {
  background-color: $primary-header-color;
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 50px;
}
.header_section {
  @include displayFlex(row, center, flex-start);
}
.header_section img {
  position: absolute;
  bottom: -1365px;
  right: -1224px;
  transform: scale(1);
  z-index: 1;
}
.header_menu_section {
  @include widthHeight(80%, 100px);
  z-index: 2;
  @include displayFlex(row, space-between, center);
  padding: 0px 20px;
  .menu_one {
    @include displayFlex(row, space-between, center);
    .logo_name {
      font-size: fontSize(logoSize);
      padding-right: 20px;
      color: $primary-white;
    }
    .menu_section {
      position: relative;
      @include displayFlex(row, center, center);
      &_link_one,
      &_link_two,
      &_link_three {
        padding-right: 40px;
        z-index: 3;
        color: $primary-white;
        position: relative;
        i {
          position: absolute;
          left: 64%;
          top: 6px;
          font-size: fontSize(verySmall);
        }
      }
      &_link_one:hover,
      &_link_two:hover,
      &_link_three:hover {
        cursor: pointer;
      }
      .one {
        @include positionPlace(30px, -40px, 130px, 150px);
        .menu_one,
        .menu_two,
        .menu_three {
          font-size: fontSize(small);
        }
        .menu_one:hover,
        .menu_two:hover,
        .menu_three:hover {
          color: $primary-black;
        }
      }
      .two {
        @include positionPlace(30px, -40px, 170px, 180px);
        .menu_one,
        .menu_two,
        .menu_three {
          font-size: fontSize(small);
        }
        .menu_one:hover,
        .menu_two:hover,
        .menu_three:hover {
          color: $primary-black;
        }
      }
      .three {
        @include positionPlace(30px, -40px, 130px, 180px);
        .menu_one,
        .menu_two,
        .menu_three {
          font-size: fontSize(small);
        }
        .menu_one:hover,
        .menu_two:hover,
        .menu_three:hover {
          color: $primary-black;
        }
      }
    }
  }
  .menu_two {
    &_login {
      color: $primary-white;
    }
    &_sign {
      margin-left: 10px;
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: $primary-white;
      color: $primary-btn-color;
      border-radius: 50px;
      cursor: pointer;
      font-weight: fontWeight(bold);
    }
    &_sign:hover {
      color: $primary-white;
      background-color: $primary-white-hover;
    }
  }
}
.middle_section {
  margin-top: 200px;
  @include widthHeight(100%, auto);
  @include displayFlex(column, center, center);
  z-index: 3;
  position: absolute;
  &_one {
    font-size: fontSize(huge);
    word-spacing: 10px;
    color: $primary-white;
    height: 50px;
  }
  &_two {
    font-size: fontSize(small);
    color: $primary-white;
    height: 40px;
  }
  &_btn {
    .one {
      @include widthHeight(130px, 40px);
      background-color: $primary-white;
      color: $primary-header-color;
      border: none;
      outline: none;
      cursor: pointer;
      font-weight: fontWeight(bold);
      border-radius: 50px;
      margin-right: 20px;
      &:hover {
        background-color: $primary-white-hover;
        color: $primary-white;
      }
    }
    .two {
      @include widthHeight(130px, 40px);
      background-color: transparent;
      color: $primary-white;
      border: 1px solid $primary-white;
      outline: none;
      cursor: pointer;
      font-weight: fontWeight(bold);
      border-radius: 50px;
      &:hover {
        background-color: $primary-white;
        color: $primary-btn-color;
      }
    }
  }
}
/*header section*/
/*design section*/
.design_section {
  @include widthHeight(100%, auto);
  &_header {
    @include widthHeight(100%, 250px);
    text-align: center;
    line-height: 250px;
    font-size: fontSize(huge);
    font-weight: fontWeight(bold);
  }
  .design_divide {
    @include displayFlex(row, space-evenly, center);
    &_one {
      @include widthHeight(50%, auto);
      padding-left: 40px;
      .text_one {
        &_header {
          @include widthHeight(100%, 60px);
          font-size: fontSize(logoSize);
        }
        &_desc {
          @include widthHeight(80%, auto);
          text-align: justify;
          color: $primary-gray;
          margin-bottom: 30px;
        }
      }
      .text_two {
        &_header {
          @include widthHeight(100%, 60px);
          font-size: fontSize(logoSize);
        }
        &_desc {
          @include widthHeight(80%, auto);
          text-align: justify;
          color: $primary-gray;
          margin-bottom: 30px;
        }
      }
    }
    &_two {
      @include widthHeight(50%, auto);
      position: relative;
      img {
        @include widthHeight(100%, auto);
        position: absolute;
        top: -335px;
      }
    }
  }
}
/*design section*/
/*mobile_section*/
.mobile_section {
  margin-top: 400px;
  @include widthHeight(100%, 400px);
  background-color: hsl(237, 17%, 21%);
  border-radius: 0px 50px 0px 50px;
  position: relative;
  .background_section {
    position: relative;
    overflow: hidden;
    @include widthHeight(inherit, inherit);
    .img_one {
      position: absolute;
      top: -610px;
      left: -235px;
    }
    .background_text {
      @include widthHeight(50%, inherit);
      @include displayFlex(column, center, center);
      padding-right: 100px;
      float: right;
      .header {
        color: $primary-white;
        font-size: fontSize(huge);
        font-weight: fontWeight(bold);
        margin-bottom: 30px;
      }
      .desc {
        color: $primary-gray;
      }
    }
  }
  .img_two {
    position: absolute;
    top: -80px;
  }
}
/*mobile_section*/
/*laptop and prons section*/
.laptop_prons_section {
  margin-top: 100px;
  position: relative;
  &_desc {
    margin-top: 200px;
    @include widthHeight(40%, auto);
    float: right;
    .header {
      font-size: fontSize(logoSize);
      height: 60px;
    }
    .desc {
      font-size: fontSize(small);
      height: 100px;
      @include widthHeight(70%, auto);
      text-align: justify;
      margin-bottom: 20px;
      color: $primary-gray;
    }
  }
  .laptop_img {
    position: absolute;
    top: 26px;
    left: -133px;
    @include widthHeight(50%, 600px);
  }
}
/*laptop and prons section*/
/*footer*/
footer {
  margin-top: 800px;
  @include widthHeight(100%, 350px);
  background-color: $primary-black;
  @include displayFlex(row, center, center);
  .footer_section {
    @include widthHeight(80%, inherit);
    @include displayFlex(row, space-evenly, flex-start);
    padding-top: 50px;
    &_one {
      color: $primary-white;
      font-size: fontSize(logoSize);
      font-weight: fontWeight(bold);
    }
    &_two,
    &_three,
    &_four {
      @include displayFlex(column, flex-start, center);
      @include widthHeight(100%, 80%);
      * {
        padding-bottom: 20px;
      }
      .name {
        padding-top: 5px;
        color: $primary-white;
        font-size: fontSize(normal);
        font-weight: fontWeight(light);
      }
      .name_link {
        color: $primary-gray;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
/*footer*/
